.au-input(:class="inputClass")
  input.au-input-control(
    v-if="type === 'text'",
    :class="controlClass",
    type="text",
    :placeholder="placeholder",
    @blur="onBlur",
    @focus="onFocus",
    v-model="model",
    :readonly="readonly",
    :disabled="disabled"
  )
  textarea.au-input-control(
    v-if="type === 'textarea'",
    :class="controlClass",
    :placeholder="placeholder",
    @blur="onBlur",
    @focus="onFocus",
    v-model="model",
    :readonly="readonly",
    :disabled="disabled",
    :rows="rows",
    :cols="cols"
  )
