extends ./_layout

block title
  |Demo

block content
  au-panel(title="内容")
    au-flex(gutter="20")
      au-item(span="6")
        au-form-group(label="姓名", label-position="right", label-width="100")
          au-input(v-model="form.name", placeholder="请输入姓名")

      au-item(span="6")
        au-form-group(label="年龄", label-position="right", label-width="100")
          au-select(v-model="form.age", :options="[{label:'28',value:'28'}]")

      au-item(span="6")
        au-form-group(label="姓名", label-position="right", label-width="100")
          au-input(v-model="form.name", placeholder="请输入姓名")

      au-item(span="4")
        au-button(native-type='submit', type="primary")|搜索

    au-table(:data="data", style="margin-top: 20px;")
      au-table-column(
        label='姓名',
        attr-name="name"
      )
      au-table-column(
        label='年龄',
        attr-name="age"
      )

      au-table-column(
        label='操作',
        auto-width
      )
        template(scope="scope")
          au-button(type="primary", size="mini", @click.native="console.log(scope.index, scope.data)")|编辑
          au-button(type="danger", size="mini", @click.native="console.log(scope.index, scope.data)")|删除

    au-pagination(v-model="page", :item-count="itemCount", align="right")

block script
  script.
    new Vue({
      el: '#app',
      mixins,
      data () {
        return {
          form: {
            name: '',
            age: ''
          },
          page: 1,
          itemCount: 300,
          data: [
            { id: 1, name: 'kevin', age: '28' },
            { id: 2, name: 'kevin', age: '27' },
            { id: 3, name: 'kevin', age: '26' },
            { id: 4, name: 'kevin', age: '25' }
          ]
        }
      }
    })
