extends ./_layout

block title
  |Input

block content
  au-panel
    docs-section
      div(slot="desc")
        :markdown-it
          # AuInput
          支持`text`、`password`、`textarea`，默认`text`。
      demo(slot="code")
        au-flex(style="margin-bottom: 5px")
          au-item(span="4")
            | 默认
          au-item(span="8")
            au-input(v-model="testStr", placeholder="text")
        au-flex(style="margin-bottom: 5px")
          au-item(span="4")
            | text
          au-item(span="8")
            au-input(v-model="testStr", type="text", placeholder="text")
        au-flex(style="margin-bottom: 5px")
          au-item(span="4")
            | password
          au-item(span="8")
            au-input(v-model="testStr", type="password", placeholder="password")
        au-flex(style="margin-bottom: 5px")
          au-item(span="4")
            | textarea
          au-item(span="8")
            au-input(v-model="testStr", type="textarea", placeholder="textarea")
        p {{testStr}}
        template(type="au-demo")
          script.
            export default {
              data: {testStr: ''}
            }

    docs-section
      div(slot="desc")
        :markdown-it
          ## 属性
          |   属性名    |                       描述                       |      类型      |  默认值   |
          |-------------|--------------------------------------------------|----------------|-----------|
          | type        | 选择使用`password` `text`或`textarea`            | String         | 'text'    |
          | placeholder | 占位符                                           | String         | ''        |
          | v-model     | 绑定的内容                                       | String         | ''        |
          | rows        | 同原生的textarea rows                            | String, Number | ''        |
          | cols        | 同原生的textarea cols                            | String, Number | ''        |
          | readonly    | 是否只读                                         | Boolean        | false     |
          | disabled    | 是否禁用                                         | Boolean        | false     |
          | size        | 组件的大小 (可选值: large, default, small, mini) | String         | 'default' |

          ## 事件
          |      事件      |              描述              |
          |----------------|--------------------------------|
          | focus          | 同浏览器                       |
          | blur           | 同浏览器                       |
          | input          | 同浏览器                       |
          | click-icon     | 如果设置了图标，图标点击是触发 |
          | mouseover-icon | 如果设置了图标，鼠标移入时触发 |
          | mouseout-icon  | 如果设置了图标，鼠标移除时触发 |

    docs-section
      div(slot="desc")
        :markdown-it
          ## demo
          ### 为textarea设置 `rows` `cols`
          > `cols`现在无法生效，因为宽度被样式设置了`100%`。
      demo(slot="code")
        au-input(type="textarea", placeholder="placeholder", rows="10", cols="2")

    docs-section
      div(slot="desc")
        :markdown-it
          ### 多种大小
          通过`size`设置多种大小
      demo(slot="code")
        div(style="margin-bottom: 5px")
          au-input(size="large" placeholder="请输入名称")
        div(style="margin-bottom: 5px")
          au-input(size="default", placeholder="请输入名称")
        div(style="margin-bottom: 5px")
          au-input(size="small", placeholder="请输入名称")
        div(style="margin-bottom: 5px")
          au-input(size="mini", placeholder="请输入名称")

    docs-section
      div(slot="desc")
        :markdown-it
          ### 只读 & 禁用
      demo(slot="code")
        au-flex(style="margin-bottom: 5px")
          au-item(span="4")
            | 只读
          au-item(span="8")
            au-input(v-model="testStr2", readonly placeholder="请输入名称")
        au-flex(style="margin-bottom: 5px")
          au-item(span="4")
            | 禁用
          au-item(span="8")
            au-input(v-model="testStr2", disabled placeholder="请输入名称")
        template(type="au-demo")
          script.
            export default {
              data: {testStr2: ''}
            }

    docs-section
      div(slot="desc")
        :markdown-it
          ### 图标

      demo(slot="code")
        div(style="margin-bottom: 5px")
          au-input(
            v-model="testStr",
            placeholder="请输入名称",
            rows="10",
            cols="100",
            icon="close",
            @click-icon="testStr = ''"
          )


block script
  script.
    new Vue({
      el: '#app',
      mixins,
      data () {
        return {
          testStr: '',
          testStr2: 'readonly & disabled'
        }
      },
      methods: {
        onFocus ($event) {

        },
        onBlur ($event) {

        }
      }
    })
