extends ./_layout

block title
  |Input

block content
  .docs-heading
    h1|AuInput
    .docs-desc

  .docs-section
    h2|Text
    .docs-desc

    .docs-panel
      .docs-panel-row
        au-input(
          v-model="form.value",
          placeholder="请输入名称",
          @focus="onFocus",
          @blur="onBlur"
        )
      .docs-panel-row
        au-input(
          disabled,
          v-model="form.value",
          placeholder="请输入名称",
          @focus="onFocus",
          @blur="onBlur"
        )

  .docs-section
    h2|多种大小
    .docs-desc

    .docs-panel
      .docs-panel-row
        au-input(
          v-model="form.value",
          size="large"
          placeholder="请输入名称",
          @focus="onFocus",
          @blur="onBlur"
        )
      .docs-panel-row
        au-input(
          v-model="form.value",
          size="default",
          placeholder="请输入名称",
          @focus="onFocus",
          @blur="onBlur"
        )
      .docs-panel-row
        au-input(
          v-model="form.value",
          size="small",
          placeholder="请输入名称",
          @focus="onFocus",
          @blur="onBlur"
        )
      .docs-panel-row
        au-input(
          v-model="form.value",
          size="mini",
          placeholder="请输入名称",
          @focus="onFocus",
          @blur="onBlur"
        )

  .docs-section
    h2|Textarea
    .docs-desc

    .docs-panel
      .docs-panel-row
        au-input(
          type="textarea",
          v-model="form.value",
          placeholder="请输入名称",
          @focus="onFocus",
          @blur="onBlur",
          rows="10",
          cols="100"
        )


  .docs-section
    h2|属性
    au-table(:data="attrs")
      au-table-column(v-for="column in columns", :label="column.label", :attr-name="column.attrName")

block script
  script.
    new Vue({
      el: '#app',
      mixins: [ attrMixins ],
      data () {
        return {
          attrs: [],
          form: {
            value: 'hello world'
          }
        }
      },
      methods: {
        onFocus ($event) {
          console.log($event)
        },
        onBlur ($event) {
          console.log($event)
        }
      }
    })
